[submodule "Server/libs/log"]
	path = Server/libs/log
	url = https://github.com/rxi/log.c.git
[submodule "Server/libs/vector"]
	path = Server/libs/vector
	url = https://github.com/eteran/c-vector.git
[submodule "udp_server/libs/spdlog"]
	path = udp_server/libs/spdlog
	url = https://github.com/gabime/spdlog.git
